---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8';
@import 'custom'; // variables for bootstrap
@import 'bootstrap';
@import 'rouge'; // syntax highlight by rouge

/* Sticky Footer
------------------------------------------------ */
$footer-height: 200px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height + 40px;
}

.navbar {
  margin-bottom: 40px;
}

.site-footer {
  padding-top: 20px;
  background-color: $gray-lightest;
  bottom: 0;
  height: $footer-height;
  position: absolute;
  width: 100%;
  color: $white;
  a {
    color: $white;

    @include hover-focus {
      color: $white;
    }
    &.active {
      color: $white;
    }
  }
}

/* Content
------------------------------------------------ */

#main {
  table {
    @extend .table;
  }
}
