---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8';
@import 'custom'; // variables for bootstrap
@import 'bootstrap';
@import 'rouge'; // syntax highlight by rouge

// Sticky Footer


html {
  position: relative;
  min-height: 100%;
}

.navbar {
  margin-bottom: 40px;
}

.site-footer {
  padding-top: 20px;
  bottom: 0;
  width: 100%;
  a {
    color: $white;

    @include hover-focus {
      color: $white;
    }
    &.active {
      color: $white;
    }
  }
}

// Content

#main {
  table {
    @extend .table;
  }

  .card-group {
    margin-bottom: $spacer; // .table と同じ
  }

  .lang { // Sprint3 で真面目に書く
    background-color: #f8f8f8;
    margin-bottom: 0;

    em {
      font-style: normal;
      background: #dddddd;
      display: inline-block;
      padding: 0 .5em;
    }
  }

  & > h2:not(:first-child) {
    margin-top: 3rem;
  }

  & > h3, & > h4, & > h5, & > h6 {
    margin-top: 1.5rem;
  }

  .jumbotron span, .card span {
    @extend .text-nowrap;
  }

  .nav-tabs {
    .nav-item {
      .nav-link.active {
        color: #ffffff;
        background: #004386;
        border-color: #004386;
      }
      .nav-link {
        border-color: #004386;
      }
    }
  }
  .tab-content {
    background: #f8f8f8;
  }

}

// right nav

#markdown-toc {
  display: none;
}

#rightnav-wrapper {
  position: relative;

  #rightnav {
    position: fixed;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    left: auto;

    .nav-link.active {
      border-left: .4em solid $blue;
      padding: 0 1em 0 .6em;
      margin: .5em 0;
    }
  }
}

// Footer

.site-footer {
  $footer-color: rgba($white,.8);
  color: $footer-color;

  a {
    color: $footer-color;

    &:active,
    &:hover {
      color: darken($footer-color, 15%);
    }
  }

  hr {
    border-top: 1px solid rgba($white, .2);
  }
  .list-unstyled > .list-unstyled {
    padding-left: 1em;
  }
}
