# Mac OS X
.DS_Store

# Jekyll
_site/*.*
_site/Gemfile
_site/CNAME
_site/*/*
.sass-cache/
.jekyll-metadata

# Manage some built files with Git,
# so we can easily find the diffs when reflecting on skyWay-dashboard
!_site/header-footer.*.html
!_site/assets/main.css
!_site/css/main.css
!_site/images/ecl-logo.svg
!_site/images/eclwebrtc-logo.svg
!_site/images/nttcom-logo.png
!_site/images/skyway-logo.svg
!_site/js/script.js

# JetBrains
.idea

# gem
Gemfile.lock
vendor
.bundle

.bash_profile
