<footer class="site-footer bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <ul class="list-unstyled">
          <li><a href="./">Home</a></li>
          <li><a href="./developer.html">Developer</a></li>
          <ul class="list-unstyled">
            <li><a href="./communication-model.html">Communication Model</a></li>
            <li><a href="./js-sdk.html">JavaScript SDK</a></li>
            <ul class="list-unstyled">
              <li><a href="./js-tutorial.html">Tutorial</a></li>
            </ul>
            <li><a href="./ios-sdk.html">iOS SDK</a></li>
            <ul class="list-unstyled">
              <li><a href="./ios-tutorial.html">Tutorial</a></li>
            </ul>
            <li><a href="./android-sdk.html">Android SDK</a></li>
            <ul class="list-unstyled">
              <li><a href="./android-tutorial.html">Tutorial</a></li>
            </ul>
            <li><a href="https://github.com/skyway/skyway-webrtc-gateway/" target="_blank">WebRTC Gateway</a></li>
            <ul class="list-unstyled">
              <li><a href="https://github.com/skyway/skyway-webrtc-gateway/blob/master/README-en.md" target="_blank">Overview</a></li>
            </ul>
            <li><a href="./migration.html">Migration</a></li>
            <li><a href="./sfu.html">SFU</a></li>
          </ul>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <ul class="list-unstyled">
          <li><a href="./pricing.html">Pricing</a></li>
          <li><a href="./support.html">Support</a></li>
          <li><a href="./signup.html">Sign up</a></li>
          <ul class="list-unstyled">
            <li><a href="./terms.html">Terms of Service</a></li>
          </ul>
          <li><a href="./login.html">Log in</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <ul class="list-unstyled">
          <li><a href="../">日本語</a></li>
          <li><a href="./">English</a></li>
          <li><a target="_blank" href="https://twitter.com/hashtag/WebRTCSkyWay"><i class="fa fa-twitter" aria-hidden="true"></i> <span class="d-none">Twitter hashtag is</span> #WebRTCSkyWay</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="d-md-flex justify-content-between">
      <div class="d-flex justify-content-center justify-content-md-start logos-div">
        <div>
          <a target="_blank" class="align-middle" href="https://www.ntt.com/en/">
            <img id="nttcom-logo" src="{{ site.baseurl }}/images/nttcom-logo.png" class="img-fluid">
          </a>
        </div>
        <div>
          <a target="_blank" class="align-middle" href="https://ecl.ntt.com/en/">
            <img id="ecl-logo" src="{{ site.baseurl }}/images/ecl-logo.svg" class="img-fluid">
          </a>
        </div>
      </div>
      <div class="d-flex justify-content-center justify-content-md-start align-items-center links-div">
        <div>
          <a target="_blank" href="http://www.ntt.com/en/about-us/hp.html">Terms of Use</a>
        </div>
        <div class="d-none d-lg-block d-xl-block">
          © NTT Communications Corporation All Rights Reserved.
        </div>
      </div>
    </div>
    <div class="d-lg-none d-xl-none text-center copy-div">
      © NTT Communications Corporation All Rights Reserved.
    </div>
  </div>
</footer>
