<div id="feature-div" class="row row-for-slim-card">
    <div class="col-6 col-sm-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Media & Data</h3>
                <p class="card-text">With the provided SDK, media channels and data channels can be used.</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Signaling</h3>
                <p class="card-text">Exchanges information needed to start a WebRTC session, such as IP addresses and codec with the partner. Also includes Room management functionality useful for communicating with many people.</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">STUN</h3>
                <p class="card-text">Servers used to get your public IP address and port number to traverse your NAT can be used for free.<br></p>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Authorization</h3>
                <p class="card-text">Authentication is provided to prevent illegal use of API keys.</p>
                <a href="https://github.com/skyway/skyway-peer-authentication-samples" target="_blank" class="btn btn-outline-primary">How to use(Github)</a>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">TURN</h3>
                <p class="card-text">Servers to relay media in environments where Peer to Peer communication cannot be established.</p>
                <a href="./pricing.html#turnsfu-communication-charge" class="btn btn-outline-primary">Pricing</a>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">SFU</h3>
                <p class="card-text">Media servers that relay voice and video data to make conferences with many people possible.</p>
                <a href="./pricing.html#turnsfu-communication-charge" class="btn btn-outline-primary">Pricing</a>
                <a href="./sfu.html" class="btn btn-outline-primary">Details of SFU</a>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Screen Sharing</h3>
                <p class="card-text">A library and sample code to help implement a browser extension that allows screen sharing.</p>
                <a href="https://github.com/skyway/skyway-screenshare" target="_blank" class="btn btn-outline-primary">How to use(Github)</a>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Recording</h3>
                <p>
                    <span class="badge badge-enterprise">enterprise</span>
                </p>
                <p class="card-text">Provides audio recording function. Also the recorded file is uploaded to Cloud Storage.</p>
                <a href="./recording.html" class="btn btn-outline-primary">Details of Recording(Written in Japanese)</a>
            </div>
        </div>
    </div>
</div>