<header class="site-header" role="banner">

  {% assign custom_url = site.url | append: site.baseurl %}
  {% assign full_base_url = custom_url %}

  <nav class="navbar navbar-light navbar-toggleable-md bg-faded">
    <div class="container">
      <button data-target="#main-nav-items" data-toggle="collapse" type="button" class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="main-nav-items" class="collapse navbar-collapse">
        <a class="site-title navbar-brand" href="./">{{ site.title[page.lang] | escape }}</a>
        <ul class="nav navbar-nav mr-auto">

          {% if page.title == 'Home' %}
          <li class="nav-item active">
            <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="./">Home</a>
          </li>
          {% endif %}

          {% if page.title == 'Developer' %}
          <li class="nav-item active">
            <a class="nav-link" href="developer.html">Developer <span class="sr-only">(current)</span></a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="developer.html">Developer</a>
          </li>
          {% endif %}

        </ul>
        <ul class="nav navbar-nav mr-0">
          <li class="nav-item dropdown">
            {% include lang.html %}
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>
