<div id="feature-div" class="row row-for-slim-card">
  <div class="col-6 col-sm-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Media Pipeline Factory</h3>
        <p class="card-text">Orchestration platform to mash up WebRTC video and audio with 3rd party cloud APIs</p>
        <a href="https://webrtc.ecl.ntt.com/m-pipe/en" target="_blank" class="btn btn-outline-primary">Media Pipeline Factory</a>
      </div>
    </div>
  </div>
  <div class="col-6 col-sm-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">WebRTC Gateway</h3>
        <p class="card-text">Provides WebRTC functions to devices other than Web browser, iOS and Android</p>
        <a href="https://github.com/skyway/skyway-webrtc-gateway" target="_blank" class="btn btn-outline-primary">GitHub</a>
      </div>
    </div>
  </div>
</div>
