<div class="modal fade bd-example-modal-lg" id="migration" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-fluid" src="{{ site.baseurl }}/images/migration-eclwebrtc.svg" alt="SkyWay-became-ECLWebRTC">
        <p>
          Start providing successor service "ECLWebRTC" developed from SkyWay. SkyWay is terminated as of March, 2018.
          For customers using SkyWay, please migrate to ECLWebRTC.<br>
        </p>
        <p>
          <a class="btn btn-primary" href="./migration.html" role="button">Confirm how to migrate</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </p>
      </div>
    </div>
  </div>
</div>
