<div class="modal fade bd-example-modal-lg" id="migration" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-fluid" src="{{ site.baseurl }}/images/migration-eclwebrtc.svg" alt="SkyWay-became-ECLWebRTC">
        <p>
          Start providing successor service "ECLWebRTC" developed from SkyWay. 
          SkyWay Beta servers have shut down as of March 22nd 2018 (JST).
          For customers using SkyWay, please migrate to ECLWebRTC, our new WebRTC Platform.<br>
        </p>
        <p>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </p>
      </div>
    </div>
  </div>
</div>
