<div class="row card-row">
  <div class="col-12 col-sm-6">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Community Edition</h3>
      <p class="card-text">For personal developprt and startup<br>Offer a new experience and value by creating a new service.</p>
      <a href="#" class="btn btn-primary">Registration for free</a>
    </div>
  </div>
  </div>
  <div class="col-12 col-sm-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Enterprise Edition</h3>
        <p class="card-text">For large-scale service<br>Obtain scalability and stability, and deliver the value world-wide.</p>
        <a href="./contactus.html" class="btn btn-outline-primary">Inquiry</a>
      </div>
    </div>
  </div>
</div>
