<div id="support-div" class="row row-for-slim-card">
  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">FAQ</h3>
        <p>
          <span class="badge badge-community">community</span>
          <span class="badge badge-enterprise">enterprise</span>
        </p>
        <p class="card-text">
          Frequently asked questions and development know-how are open to public.<br>
          When you are at a loss, try searching here.
        </p>
        <a href="https://support.skyway.io/hc/en-us/categories/204565748-FAQ" class="btn btn-outline-primary">Check FAQ</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Developer Community</h3>
        <p>
          <span class="badge badge-community">community</span>
          <span class="badge badge-enterprise">enterprise</span>
        </p>
        <p class="card-text">
          If you have a problem that cannot be fixed by FAQ alone,
          use this place for discussions and information exchange among developers.
        </p>
        <a href="https://support.skyway.io/hc/en-us/community/topics" class="btn btn-outline-primary">Join Developer Community</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Ticket Support</h3>
        <p>
          <span class="badge badge-enterprise">enterprise</span>
        </p>
        <p class="card-text">
            By using a ticket on the Dashboard, you can make inquiries on development.
            Please refer to <a href="https://ecl.ntt.com/en/documents/tutorials/rsts/Support/ticket/ticket.html" target="_blank">"How to use Ticket system"</a> for details.
        </p>
        <a href="https://b-portal.ntt.com/" class="btn btn-outline-primary">Login to Dashboard</a>
      </div>
    </div>
  </div>
</div>
