<div class="row row-3">
  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card h-100">
      <div class="card-block">
        <h3 class="card-title">FAQ</h3>
        <h6 class="card-subtitle text-muted"><span>Enterprise Edition / </span><wbr><span>Community Edition</span></h6>
        <p class="card-text">よくある質問や開発ノウハウを公開しています<br>困った場合はまず検索してみてください</p>
        <a href="#" class="btn btn-primary">FAQを確認</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card h-100">
      <div class="card-block">
        <h3 class="card-title">Technical Forum</h3>
        <h6 class="card-subtitle text-muted"><span>Enterprise Edition / </span><wbr><span>Community Edition</span></h6>
        <p class="card-text">FAQだけでは解決できない事がある場合<br>開発者同士の議論や情報交換にご活用ください</p>
        <a href="#" class="btn btn-primary">Technical Forumに参加</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card h-100">
      <div class="card-block">
        <h3 class="card-title">チケットサポート</h3>
        <h6 class="card-subtitle text-muted">Enterprise Edition 限定</h6>
        <p class="card-text">ダッシュボードよりチケットを利用して開発に関する問い合わせが可能です<br>詳しい利用方法は<a href="https://ecl.ntt.com/documents/tutorials/rsts/Support/ticket/ticket.html" target="_blank">「チケットシステムのご利用方法」</a>をご覧ください</p>
        <a href="#" class="btn btn-primary">ダッシュボードにログイン</a>
      </div>
    </div>
  </div>
</div>
