{% if page.title == site.title[page.lang] %}
  {% assign title_tag = site.title[page.lang] | escape %}
{% else %}
  {% assign title_tag = site.title[page.lang] | prepend: ' - ' | prepend: page.title | escape %}
{% endif %}
{% assign description_tag = page.description | strip_html | normalize_whitespace | truncate: 160 | escape %}
{% assign full_base_url = site.url | append: site.baseurl %}
{% assign full_url = page.url | replace: 'index.html', '' | prepend: full_base_url %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title_tag }}</title>
  {% if page.description %}
  <meta name="description" content="{{ description_tag }}">
  {% endif %}
  <meta property="og:title" content="{{ title_tag }}">
  {%if page.title == site.title[page.lang] %}
  <meta property="og:type" content="website">
  {% else %}
  <meta property="og:type" content="article">
  {% endif %}
  <meta property="og:url" content="{{ full_url | replace_first: 'http://', 'https://' }}">
  <meta property="og:image" content="{{ page.og_image | default: site.og_image[page.lang] | prepend: full_base_url | replace_first: 'http://', 'https://' }}">
  <meta property="og:site_name" content="{{ site.title[page.lang] }}">
  {% if page.description %}
  <meta property="og:description" content="{{ description_tag }}">
  {% endif %}
  <meta name="twitter:image" content="{{ page.twitter_image | default: site.twitter_image[page.lang] | prepend: full_base_url | replace_first: 'http://', 'https://' }}" />
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="canonical" href="{{ full_url | replace_first: 'http://', 'https://' }}">
  {% include google-analytics.html %}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | prepend: site.baseurl }}">
</head>
