// Bootstrap の `_variables.scss` を上書きするためのファイル

// Options

$enable-flex:               true;
$enable-rounded:            true;
$enable-shadows:            true;
$enable-gradients:          true;
$enable-transitions:        true;

// Color

$yellow:       rgb(253, 208, 0);    // corporate
$blue:         rgb(0,   67,  134);  // corporate
$yellow-light: rgb(254, 235, 191);  // corporate
$yellow-dark:  rgb(182, 113, 0);    // corporate

$indigo:  rgb(0, 97, 138);          // third
$purple:  rgb(128, 27, 117);        // third
$red:     rgb(199, 22, 30);         // third
$orange:  rgb(246, 170, 0);         // secondary
$green:   rgb(24, 147, 59);         // third
$teal:    rgb(167, 197, 145);       // third
$cyan:    rgb(0, 152, 216);         // secondary

// Fonts

$headings-font-weight: 600;

$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1rem;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;
$font-family-base:       $font-family-sans-serif;

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}

@media all and (-ms-high-contrast: none) {  // IE hack
  body,
  tooltip,
  popover {
    font-family: Verdana, Meiryo, sans-serif;
  }
}

// Breadcrumb

$breadcrumb-padding-x: 0;
$breadcrumb-padding-y: 0;
$breadcrumb-bg: none;
