<footer class="site-footer bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <ul class="list-unstyled">
          <li>ホーム</li>
          <ul>
            <li>事例<i class="fa fa-external-link" aria-hidden="true"></i></li>
          </ul>
          <li>開発者</li>
          <ul>
            <li>JavaScript SDK</li>
            <li>iOS SDK</li>
            <li>Android SDK</li>
            <li>移行</li>
          </ul>
        </ul>
      </div>
      <div class="col-4">
        <ul class="list-unstyled">
          <li>料金</li>
          <ul>
            <li>料金シミュレータ<i class="fa fa-external-link" aria-hidden="true"></i></li>
          </ul>
          <li>サポート</li>
          <li>新規登録</li>
          <ul>
            <li>利用規約</li>
          </ul>
          <li>ダッシュボード</li>
          <ul>
            <li>Community Edition<i class="fa fa-external-link" aria-hidden="true"></i></li>
            <li>Enterprise Edition<i class="fa fa-external-link" aria-hidden="true"></i></li>
            <li>SkyWay<i class="fa fa-external-link" aria-hidden="true"></i></li>
          </ul>
        </ul>
      </div>
      <div class="col-4">
        <ul class="list-unstyled">
          <li>APIリファレンス<i class="fa fa-external-link" aria-hidden="true"></i></li>
          <li>FAQ<i class="fa fa-external-link" aria-hidden="true"></i></li>
          <li>テクニカルフォーラム<i class="fa fa-external-link" aria-hidden="true"></i></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a target="_blank" href="https://twitter.com/hashtag/eclwebrtc">Twitter #eclwebrtc</a>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a target="_blank" href="http://www.ntt.com/"><img src="{{ site.rootdir[page.lang] }}/images/nttcom-logo.png" width="164" height="40"></a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="https://ecl.ntt.com/"><img src="{{ site.rootdir[page.lang] }}/images/ecl-logo.svg" width="177"  height="30"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a target="_blank" href="http://www.ntt.com/aboutus/hp/disclaimer.html">免責事項・準拠法</a>
          </li>
          <li class="list-inline-item">|</li>
          <li class="list-inline-item">
            <a target="_blank" href="http://www.ntt.com/copyright/">著作権について</a>
          </li>
          <li class="list-inline-item">|</li>
          <li class="list-inline-item">
            <a target="_blank" href="http://www.ntt.com/privacy/">プライバシーポリシー</a>
          </li>
          <li class="list-inline-item">|</li>
          <li class="list-inline-item">
            <a target="_blank" href="http://www.ntt.com/aboutus/hp/webbeacon.html">クッキーとウェブビーコンについて</a>
          </li>
          <li class="list-inline-item">|</li>
          <li class="list-inline-item">© NTT Communications Corporation All Rights Reserved.</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
