<footer class="site-footer bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a target="_blank" href="https://twitter.com/hashtag/eclwebrtc">Twitter #eclwebrtc</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a target="_blank" href="http://www.ntt.com/aboutus/hp/disclaimer.html">免責事項・準拠法</a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="http://www.ntt.com/copyright/">著作権について</a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="http://www.ntt.com/privacy/">プライバシーポリシー</a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="http://www.ntt.com/aboutus/hp/webbeacon.html">クッキーとウェブビーコンについて</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a target="_blank" href="http://www.ntt.com/"><img src="{{ site.rootdir[page.lang] }}/images/nttcom-logo.png" width="164" height="40"></a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="https://ecl.ntt.com/"><img src="{{ site.rootdir[page.lang] }}/images/ecl-logo.svg" width="177"  height="30"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>© NTT Communications Corporation All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
