<footer class="site-footer bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <ul class="list-unstyled">
          <li><a href="./">ホーム</a></li>
          <li><a href="./developer.html">開発者</a></li>
          <ul class="list-unstyled">
            <li><a href="./js-sdk.html">JavaScript SDK</a></li>
            <li><a href="./ios-sdk.html">iOS SDK</a></li>
            <li><a href="./android-sdk.html">Android SDK</a></li>
            <li><a href="./migration.html">移行</a></li>
          </ul>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <ul class="list-unstyled">
          <li><a href="./pricing.html">料金</a></li>
          <li><a href="./support.html">サポート</a></li>
          <li><a href="./signup.html">新規登録</a></li>
          <ul class="list-unstyled">
            <li><a href="./policy.html">利用規約</a></li>
          </ul>
          <li><a href="./login.html">ダッシュボード</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <ul class="list-unstyled">
          <li><a href="/">日本語</a></li>
          <li><a href="en/">English</a></li>
        </ul>
        <p><a target="_blank" href="https://twitter.com/hashtag/eclwebrtc"><i class="fa fa-twitter" aria-hidden="true"></i> #eclwebrtc</a></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a target="_blank" href="http://www.ntt.com/"><img src="{{ site.rootdir[page.lang] }}/images/nttcom-logo.png" width="164" height="40"></a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="https://ecl.ntt.com/"><img src="{{ site.rootdir[page.lang] }}/images/ecl-logo.svg" width="177"  height="30"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a target="_blank" href="http://www.ntt.com/aboutus/hp/disclaimer.html">免責事項・準拠法</a>
          </li>
          <li class="list-inline-item">|</li>
          <li class="list-inline-item">
            <a target="_blank" href="http://www.ntt.com/copyright/">著作権について</a>
          </li>
          <li class="list-inline-item">|</li>
          <li class="list-inline-item">
            <a target="_blank" href="http://www.ntt.com/privacy/">プライバシーポリシー</a>
          </li>
          <li class="list-inline-item">|</li>
          <li class="list-inline-item">
            <a target="_blank" href="http://www.ntt.com/aboutus/hp/webbeacon.html">クッキーとウェブビーコンについて</a>
          </li>
          <li class="list-inline-item">|</li>
          <li class="list-inline-item">© NTT Communications Corporation All Rights Reserved.</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
