<div id="feature-div" class="row row-for-slim-card">
    <div class="col-6 col-sm-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Media & Data</h3>
                <p class="card-text">提供するSDKではメディアチャンネル・データチャンネルを利用可能</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">シグナリング</h3>
                <p class="card-text">IPアドレスやコーデック等の情報を相手と交換するためのサーバ、多人数通話に便利なRoom管理機能を備える</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">STUN</h3>
                <p class="card-text">NAT越えに必要な、自身のグローバルIPアドレスとポート番号を確認するサーバを無料で提供<br></p>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">認証</h3>
                <p class="card-text">APIキーの不正利用を防止するための認証機能を提供</p>
                <a href="https://github.com/skyway/skyway-peer-authentication-samples" target="_blank" class="btn btn-outline-primary">利用方法(GitHub)</a>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">TURN</h3>
                <p class="card-text">P2Pで通信が確立できない環境にメディアを中継するサーバを提供</p>
                <a href="./pricing.html#サーバ通信料" class="btn btn-outline-primary">料金</a>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">SFU</h3>
                <p class="card-text">多人数通話や配信を実現する、映像・音声送信を代行するメディアサーバを提供</p>
                <a href="./pricing.html#サーバ通信料" class="btn btn-outline-primary">料金</a>
                <a href="./sfu.html" class="btn btn-outline-primary">SFUの説明</a>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">画面共有</h3>
                <p class="card-text">画面共有用ブラウザ拡張を簡単に実装するためのライブラリ、サンプルコードを提供</p>
                <a href="https://github.com/skyway/skyway-screenshare" target="_blank" class="btn btn-outline-primary">利用方法(GitHub)</a>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">録音</h3>
                <p>
                    <span class="badge badge-enterprise">enterprise</span>
                </p>
                <p class="card-text">音声を録音し、クラウドストレージにアップロードする機能を提供</p>
                <a href="./recording.html" class="btn btn-outline-primary">録音の説明</a>
                <a href="./recording-tutorial.html" class="btn btn-outline-primary">チュートリアル</a>
            </div>
        </div>
    </div>
</div>