<header class="site-header" role="banner">
  <nav class="navbar navbar-inverse navbar-toggleable-md bg-primary">
    <div class="container">
      <button data-target="#main-nav-items" data-toggle="collapse" type="button" class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="main-nav-items" class="collapse navbar-collapse">
        <a class="site-title navbar-brand" href="./"><img src="{{ site.rootdir[page.lang] }}/images/logo-white.png" width="223" height="33" alt="{{ site.title[page.lang] | escape }}"></a>
        <ul class="nav navbar-nav mr-auto">

          {% if page.title == 'ホーム' %}
          <li class="nav-item active">
            <a class="nav-link" href="./">ホーム <span class="sr-only">(current)</span></a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="./">ホーム</a>
          </li>
          {% endif %}

          {% if page.title == '開発者' %}
          <li class="nav-item active">
            <a class="nav-link" href="developer.html">開発者<span class="sr-only">(current)</span></a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="developer.html">開発者</a>
          </li>
          {% endif %}

          {% if page.title == '料金' %}
          <li class="nav-item active">
            <a class="nav-link" href="pricing.html">料金<span class="sr-only">(current)</span></a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="pricing.html">料金</a>
          </li>
          {% endif %}

          {% if page.title == 'サポート' %}
          <li class="nav-item active">
            <a class="nav-link" href="support.html">サポート<span class="sr-only">(current)</span></a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="support.html">サポート</a>
          </li>
          {% endif %}

        </ul>
        <ul class="nav navbar-nav mr-0">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuSignup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              新規登録
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuSignup">
              <a class="dropdown-item" href="signup.html">Community Edition</a>
              <a class="dropdown-item" href="signup.html">Enterprise Edition</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuDashboard" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ダッシュボード
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuDashboard">
              <a class="dropdown-item" href="login.html">Community Edition</a>
              <a class="dropdown-item" href="login.html">Enterprise Edition</a>
              <a class="dropdown-item" href="login.html">SkyWay</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            {% include lang.html %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
