<div id="feature-div" class="row row-for-slim-card">
  <div class="col-6 col-sm-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Media Pipeline Factory</h3>
        <p class="card-text">クラウドAPIを組み合わせて映像・音声を処理できるプラットフォーム</p>
        <a href="https://webrtc.ecl.ntt.com/m-pipe/" target="_blank" class="btn btn-outline-primary">Media Pipeline Factory</a>
      </div>
    </div>
  </div>
  <div class="col-6 col-sm-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">WebRTC Gateway</h3>
        <p class="card-text">Webブラウザ、iOS、Android以外でもWebRTCを利用可能</p>
        <a href="https://github.com/skyway/skyway-webrtc-gateway" target="_blank" class="btn btn-outline-primary">GitHub</a>
      </div>
    </div>
  </div>
</div>
