<div class="modal fade bd-example-modal-lg" id="migration" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-fluid" src="{{ site.baseurl }}/images/migration-skyway.svg" alt="SkyWayが正式サービスに">
        <p>
          SkyWayが正式サービスになりました。<br>
          トライアル版のSkyWayは2018年3月をもって提供を終了します。<br>
          無償でご利用いただけるSkyWay Community Editionへの移行をお願いします。<br>
        </p>
        <p>
          <a class="btn btn-primary" href="migration.html" role="button">移行方法を確認する</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        </p>
      </div>
    </div>
  </div>
</div>
