<div class="row card-row">
  <div class="col-12 col-sm-6">
  <div class="card h-100">
    <div class="card-body">
      <h3 class="card-title">Community Edition</h3>
      <p class="card-text">個人開発者、スタートアップ向け<br>新規サービスの創造により新しい体験と価値を提供しよう</p>
      <a href="#" class="btn btn-primary">無料で新規登録</a>
    </div>
  </div>
  </div>
  <div class="col-12 col-sm-6">
    <div class="card h-100">
      <div class="card-body">
        <h3 class="card-title">Enterprise Edition</h3>
        <p class="card-text">大規模サービス向け<br>スケーラビリティと安定性を手に入れ、価値を世界に届けよう</p>
        <a href="./contactus.html" class="btn btn-outline-primary">お問い合わせ</a>
      </div>
    </div>
  </div>
</div>
