<div id="support-div" class="row card-row">
  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">FAQ</h3>
        <h6 class="card-subtitle"><span class="badge-community"></span><wbr><span class="badge-enterprise"></span></h6>
        <p class="card-text">よくある質問や開発ノウハウを公開しています。<br>困った場合はまず検索してみてください。</p>
        <a href="#" class="btn btn-outline-primary">FAQを確認</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Technical Forum</h3>
        <h6 class="card-subtitle"><span class="badge-community"></span><wbr><span class="badge-enterprise"></span></h6>
        <p class="card-text">FAQだけでは解決できないことがある場合、<br>開発者同士の議論や情報交換にご活用ください。</p>
        <a href="#" class="btn btn-outline-primary">Technical Forumに参加</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">チケットサポート</h3>
        <h6 class="card-subtitle badge-enterprise"></h6>
        <p class="card-text">ダッシュボードよりチケットを利用して開発に関するお問い合わせが可能です。<br>詳しい利用方法は<a href="https://ecl.ntt.com/documents/tutorials/rsts/Support/ticket/ticket.html" target="_blank">「チケットシステムのご利用方法」</a>をご覧ください。</p>
        <a href="#" class="btn btn-outline-primary">ダッシュボードにログイン</a>
      </div>
    </div>
  </div>
</div>
