<div id="support-div" class="row card-row">
  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">FAQ</h3>
        <p>
          <span class="badge badge-community">community</span>
          <span class="badge badge-enterprise">enterprise</span>
        </p>
        <p class="card-text">
          よくある質問や開発ノウハウを公開しています。<br>
          困った場合はまず検索してみてください。
        </p>
        <a href="https://support.skyway.io/hc/ja/categories/204565748-FAQ" class="btn btn-outline-primary">FAQを確認</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">開発者コミュニティ</h3>
        <p>
          <span class="badge badge-community">community</span>
          <span class="badge badge-enterprise">enterprise</span>
        </p>
        <p class="card-text">
          FAQだけでは解決できないことがある場合、<br>
          開発者同士の議論や情報交換にご活用ください。
        </p>
        <a href="https://support.skyway.io/hc/ja/community/topics" class="btn btn-outline-primary">開発者コミュニティに参加</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">チケットサポート</h3>
        <p>
          <span class="badge badge-enterprise">enterprise</span>
        </p>
        <p class="card-text">
          ダッシュボードよりチケットを利用して開発に関するお問い合わせが可能です。<br>
          詳しい利用方法は<a href="https://ecl.ntt.com/documents/tutorials/rsts/Support/ticket/ticket.html" target="_blank">「チケットシステムのご利用方法」</a>をご覧ください。
        </p>
        <a href="https://b-portal.ntt.com/" class="btn btn-outline-primary">ダッシュボードにログイン</a>
      </div>
    </div>
  </div>
</div>
