<!DOCTYPE html>
<html lang="{{ page.lang }}">
  {% include head.html %}
  <body>
    {% include js-top.html %}
    {% include header.html %}
    {% if page.main_visual %}
      {% include main-visual.html %}
    {% endif %}
    <div id="main" class="container">
      {% if page.breadcrumb %}
        {% include breadcrumb.html %}
      {% endif %}

      {{ content }}

      {% unless page.is_dashboard %}
        {% include modal.html %}
      {% endunless %}
    </div>

    {% include footer.html %}
    {% include js-bottom.html %}
  </body>
</html>
