<!DOCTYPE html>
<html lang="{{ page.lang }}">
{% include head.html %}
<body data-spy="scroll" data-target="#rightnav">

{% include header.html %}

<div class="container">
  <div class="row">
    <div class="col-9">
      <div id="main" class="container">
        {{ content }}
      </div>
    </div>
    <div class="col-3" id="rightnav-wrapper">
      <div id="rightnav">
      </div>
    </div>
  </div>
</div>

{% include footer.html %}

<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="{{ site.rootdir[page.lang] }}js/script.js"></script>
<script>
  $(function() {
    $('#markdown-toc')
      .addClass('nav flex-column')
      .children()
      .addClass('nav-item')
      .children()
      .addClass('nav-link')
      .parent()
      .parent()
      .appendTo('#rightnav')
      .show();
  });
</script>
</body>
</html>
